@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "SF-Pro";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1d1d1f;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF-Pro";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF");
  font-weight: bold;
}

body {
  margin: 0;
}
